.intro {
  color:blueviolet;
  font-style: bold;
}
p.first {
  width: 130%;
  font-style: italic;
}

.important {
  color: red;
}

.yum {
  color:brown;
  font-size: larger;
}

p.best {
  color: goldenrod;
  font-size: x-large;
  font-style: bold;
}